[2020-01-14 09:01] mbaudis opened #1 "Current v2 version numbering"
The current version number in the spec should indicate an "immature" status (2.0.1, 2.0.1a ... whatever your flavour @sdelatorrep).

[code]

[2020-01-14 09:50] jrambla commented on #1
We discussed that yesterday, but is seems to me that 2.0,1 i saying "this is the first PATCH over the version 2.0.0".
I guess there should exist a convention for this case.

[2020-01-14 10:54] mbaudis commented on #1
@jrambla Well, there are several :-( However, I recommend going with [Semantic Versioning](https://semver.org/#spec-item-9), which in the case of a major-new-version-first-pre-release would result in e.g.`2.0.0-alpha` or `2.0.0-alpha.1`. But we should have it clear that this is pre-release.

[2020-01-14 11:21] mbaudis opened #2 "YAML formatting"
I have suggestions for the formatting of the spec file:

1. using a consistent style for descriptions; I recommend _always_ to use the multi-line format (with the sole exception of single word comments).
2. Use Markdown style to structure multi-line descriptions:
[code]
3. follow the Google code documentation style & break lines in comments at 80 chars

[2020-01-14 14:37] sdelatorrep commented on #2
+1

[2020-01-15 08:28] sdelatorrep opened #3 "Is this clarification still necessary? start[0]=start[1] XOR end[0]=end[1]"
I wonder if this clarification is still necessary, now that in v2 `start` and `end` are arrays, and we don't have `startMin`, `startMax`, `endMin` and `endMax` any more:
[code]
It is found here:
[code]

[2020-01-15 08:33] sdelatorrep opened #4 "Consider splitting beacon.yaml in multiple files"
Current definition is very long (2194). We should consider splitting it in multiple files.
IMO, I'd start splitting the `components.schemas` and the `components.examples` sections into 2 different files and see if this makes it more readable.

[2020-02-12 16:16] sdelatorrep opened #5 "Replace /samples with /biosamples"

[2020-02-12 16:16] sdelatorrep opened #6 "Remove _request suffix in endpoints"

[2020-02-12 16:17] sdelatorrep opened #7 "Change /g_variant to plural /g_variants"

[2020-02-12 17:07] #5 closed, assigned to sdelatorrep

[2020-02-12 17:08] #6 closed, assigned to sdelatorrep

[2020-02-12 17:16] #7 closed, assigned to sdelatorrep

[2020-02-12 18:05] sdelatorrep opened #8 "Point to default schemas"
Default schemas are defined in a different repository: https://github.com/ga4gh-beacon/specification-v2-default-schemas

[2020-02-19 16:46] sdelatorrep opened #9 "Add endpoints"
* `/schemas`: to list the schemas supported by this Beacon
* `/filtering_terms`: to list the ontologies and custom dictionaries supported by this Beacon
* `/access_levels`: to list the access levels for each field
* more?

[2020-02-19 17:02] mbaudis commented on #9
@sdelatorrep Is "schemas" not too broad? Does this refer to request types only, or is this more general? I would suggest `request_types`:

* `beacon_cnv_request`
* `beacon_allele_request`
* ...

[2020-02-21 08:51] sdelatorrep commented on #9
The idea of the `/schemas` endpoint is to show all the schemas and versions supported by the beacon, so something similar to this:
[code]

[2020-03-10 15:22] sdelatorrep opened #10 "Clearly state if the beacon/dataset is for testing purposes"
We can follow a similar approach to the one used in [GA4GH service-info spec](https://github.com/ga4gh-discovery/ga4gh-service-info/blob/develop/service-info.yaml):
[code]

[2020-04-03 11:27] #8 closed, assigned to nobody

[2020-04-14 13:53] mbaudis commented on #4
+1 (has been supported by myself on various occasions...)

[2020-05-19 15:58] sdelatorrep opened #11 "Add "url" and remove "id" from "receivedRequest""
Imagine we are requesting a specific individual by calling `/individuals/IND1111`.
In the response, we could have this new field `url` within `receivedRequest`:
[code]
instead of:
[code]
We can get rid of these complex objects, `individual` and `biosample`, and the `id` field within them and `g_variant`.

[2020-05-19 17:13] #11 closed, assigned to nobody

[2020-05-19 17:13] jrambla commented on #11
As agreed, not doing any change. Thanks.

[2020-05-19 17:30] jrambla commented on #10
Yes, please add this one to the spec.

[2020-05-19 17:31] #9 closed, assigned to nobody

[2020-05-19 17:32] jrambla commented on #9
Let's add the `schemas` endpoint, and open up a new issue for each of the others.

[2020-05-19 17:39] jrambla commented on #3
IMU the example is applicable to the case of `start `and `end `being matrices.
But I guess the message is "incorrect", XOR means "A or B, but not A & B". I believe we can have A & B in our case.

[2020-05-19 17:40] jrambla commented on #2
Can we close the issue or there is anything pending to be done?

[2020-05-19 17:43] #1 closed, assigned to nobody

[2020-05-19 17:47] jrambla commented on #1
Thanks Michael! I was looking for that unsuccesfully. Now you the link you added has refreshed my mind.
@sdelatorrep let's go for ` 2.0.0-draft.1 ` until we believe it should be `alpha `

[2020-05-20 09:59] sdelatorrep opened #12 "Add /schemas endpoint"
This endpoint should describe what schemas and versions are supported by the beacon.
Something similar to:
[code]

[2020-05-20 10:01] sdelatorrep opened #13 "Add /filtering_terms endpoint"
This endpoint should describe what ontology terms or custom dictionaries are implemented in this Beacon.
Something similar to:
[code]

[2020-05-20 10:03] sdelatorrep opened #14 "Add /access_levels endpoint"
This endpoint should describe the access level (public, registered, controlled) for each field and if something is not supported in this Beacon.
Something similar to:
[code]

[2020-05-20 10:10] #10 closed, assigned to nobody

[2020-05-25 14:20] mbaudis opened #15 "Change description of `AlternateBases`"
The description of [`AlternateBases`](https://github.com/ga4gh-beacon/specification-v2/blob/master/beacon.yaml#L681) refers to "symbolic alleles" as being represented in `VariantType`, and lists a number of those.
IMO this is dangerous since it a) binds the documentation to VCF and b) pre-empts a clear definition of _which_ specific variant types will be served by the protocol.
Proposal: Replace t

[2020-05-25 14:57] mbaudis commented on #4
@sdelatorrep I just updated the split version (automatic generation, schemas only - not endpoints etc.). Please have a look at the [specification-v2-test-schemas](https://github.com/ga4gh-beacon/specification-v2-test-schemas) and the representation [on the website](https://beacon-project.io/tags/specification.html).

This is considered very "prototype" - however, I'd like to see how we can build o

[2020-05-26 13:34] sdelatorrep opened #16 "Change datasetAlleleResponses to have default and alternative schemas"
It should have the same structure as the other objects (e.g. "variant" field):
[code]

[2020-05-28 11:48] MalinAhlberg opened #18 "Undefined property in RequestQeury"
Hi,

I tried to parse the spec, but got an error.
This [line](https://github.com/ga4gh-beacon/specification-v2/blob/master/beacon.yaml#L901) mentions `query` as being required, although it is not among the properties. I'm not sure whether it should be removed from the `required` list or added to the `properties` list?

[2020-05-28 12:47] sdelatorrep commented on #18
Hi Malin!
It's a copy and paste error, haha I've just fixed it.
Thanks for spotting this!

[2020-05-28 12:47] #18 closed, assigned to nobody

[2020-05-28 13:13] sdelatorrep opened #19 "Reformat the / endpoint so it has the same structure as the query response"
The response should be something similar to:
[code]

[2020-06-02 11:45] teemukataja opened #20 "Semantic versioning"
I suggest that the specification should **enforce** [semantic versioning](https://semver.org/).

In this case the only valid way to state version would be a string with digits separated by periods: `MAJOR.MINOR.PATCH`, e.g. `2.0.0`. The version shouldn't contain any other characters, like a leading `v` e.g. `v2.0.0`.

This would make the version easier to handle programmatically, as we could trust

[2020-06-04 07:43] mbaudis commented on #13
@sdelatorrep @jrambla @silverdaz Generally agree, but some comments on the format:

#### Format

1. there is the generally accepted style to use prefixed terms (class) as `id` and text as `label`
2. since custom filters (or "esoteric" classes) may not be immediately obvious to the user, a source/description may be in order
3. optional parameter: `count`, to deliver some information about the numbe

[2020-06-04 08:28] mbaudis commented on #13
Live examples (can be modified upon feedback):

* <https://bycon.progenetix.org/filtering_terms/>
* <https://bycon.progenetix.org/filtering_terms/filters=PMID/>
* <https://bycon.progenetix.org/filtering_terms/filters=NCIT,icdom-8,icdom-9/>
* <https://bycon.progenetix.org/filtering_terms/filters=NCIT,icdom,icdot/datasetId=dipg/>

Here, only in the last example sample counts per filter are being pro

[2020-06-09 13:52] mbaudis opened #22 "Replace Chromosome"
As discussed previously, the use of (hard coded) `Chromosome` is a limiting design (which had already been mentioned in the original Beacon design discussions in 2014). Changing this had also been the topic of a recent recommendation by members of the GKS team.

##### Proposal:

* change to  "accession.version" of a chromosome, e.g. `NC_0000015.10`
* document use of chromosome by short name + asse

[2020-06-11 10:44] mbaudis opened #23 "Use IUPAC nucleotide codes"
The use of [IUPAC nucleotide codes ](https://www.bioinformatics.org/sms/iupac.html) would provide a more flexible way to query for precise sequence alterations, instead of having only specific nucleotide codes or `N`.

This protocol enhancement is backwards compatible (`N` is an IUPAC code).

Additionally, this approach would be in line with the “use external standards wherever possible” concept.

[2020-06-15 21:16] mbaudis opened #24 "Endpoint patterns"
#### Patterns

Shouldn't endpoints be specified by a pattern?

* `/individuals/{id}/biosamples`
  - `"pattern": "^\/?individuals\/([^\/]+?)\/biosamples\/?$`
* `/individuals/{id}`
  - `"pattern": "^\/?individuals\/([^\/]+?)\/?$`
* `/individuals`
  - `"pattern": "^\/?individuals)\/?$`

...could have quite different methods of disambiguation; without a pattern on the path such could be interpreted di

[2020-06-26 10:04] mbaudis opened #25 "Defining g_variants request types."
For versions including 1.n only a single method (`BeaconAlleleRequest`) was used with varying sets of parameters to enable different query scenarios. This led to some confusion and problems in determining the appropriate handling depending on the submitted combination of parameters.
While we tried to address this problem through documentation, for v2 we've agreed to introduce "request types" with

[2020-07-02 14:52] Tom-Shorter opened #26 "Pagination"
Pagination is a possible query in the .yaml file but there is no matching pagination section within the response, I believe adding in a pagination section in the response which displays the total number of variants found, the current page being displayed and the total number of pages of variants at the specified page limit would be extremely helpful. This would ensure people don't continue request

[2020-07-14 13:45] #2 closed, assigned to nobody

[2020-07-14 13:45] jrambla commented on #2
As noone is objecting I'll consider this issue "solved".

[2020-07-14 13:52] jrambla commented on #3
Anyone commenting on this?

[2020-07-14 14:13] mbaudis commented on #3
Actually start and end should be `simpleIntervals` in GA4GH VRS speech (0 based half open). So the first base would be `[0,1]`.

[2020-07-14 14:18] mbaudis commented on #3
... so a precise single base location is "==start[0]".

[2020-07-14 16:44] #20 closed, assigned to nobody

[2020-07-14 16:45] jrambla commented on #20
Yes, we are trying to follow that approach. Thanks!

[2020-07-14 16:48] jrambla commented on #4
@sdelatorrep is your splitting being visible somewhere?

[2020-07-14 16:49] jrambla commented on #4
@mbaudis it would be nice to do this exercise over the draft.2 version.

[2020-07-14 16:54] jrambla commented on #24
I don't get the point, @mbaudis, the `xyz/{id}/abc` is typical in REST (and in OpenAPI?). Hence these is what we represent in the endpoints. Are you suggesting to change that approach?

[2020-07-14 17:03] jrambla commented on #25
The idea was to have one g_variant end point, supporting all the required parameters, and then use alias to mask the parameters not relevant or to provide default values for them. E.g.
g_variant would support

- assemblyId
- referenceName
- start
- referenceBases
- alternateBases
- end
- variantType
- mateName

For variantAlleleRequest the alias will do:
- assemblyId
- referenceName
- start
- refe

[2020-07-14 17:09] jrambla commented on #23
We've been discussing that in the context of [https://covid19beacon.crg.eu/](https://covid19beacon.crg.eu/), as many viral consensus sequences use the UIPAC codes.
It seems to make implementation a little bit more complex and less performant (as "OR" boolean operators apply), and we were wondering how much they will actually be used in reality..
@sdelatorrep something to bring to the GA4GH Beacon

[2020-07-14 17:14] jrambla commented on #22
The issues here are which names are intuitive enough and academically correct enough to indicate the reference and the chromosome/contig inside that reference.
"GRCh38" & "15" seems much more intuitive that NC_0000015.10

[2020-07-15 06:47] sdelatorrep commented on #4
@jrambla the splitting I mentioned yesterday was done in the Default Schemas repo, not here yet.

[2020-07-15 07:09] mbaudis commented on #4
@jrambla @sdelatorrep See above; I had created a draft method for extracting the schemas from the specification and then run the extracted individual schemas through the SchemaBlocks reformatter => see https://github.com/ga4gh-beacon/specification-v2-test-schemas
This was before Sabela's schema repository & thought as basis for discussion.

[2020-07-15 07:18] mbaudis commented on #22
@jrambla Intuitively & from common use I agree. However, then a mechanism is needed to validate and/or translate these combinations. You may have solved this in the COVID19 use case already (we - that is @qingyao - have been struggling to find the correct syntax there for ours ...).

So: This needs a documented design, with referencing alternative approaches (e.g. GA4GH VRS).

[2020-07-15 07:39] mbaudis commented on #23
@jrambla Since `N` is already allowed one has to regex in case of its occurrence.

For example, our practical implementation is currently:

* if no `N` in ...bases => exact match
* if only `N` -> by convention one or more unspecified bases => doesn't need a lookup
* if `N` and others => regex:
[code]
(The "p" there is for `[ "referenceBases", "alternateBases" ]`; `v_q_p` is the list of queries).
T

[2020-07-15 12:32] mbaudis commented on #24
@jrambla I just may not understand how the response should be structured. The current form requires that the response is in the form
[code]
... i.e. a multi-dataset response. If this is intentional it is o.k. (but needs documantation - it is not yet clear IMO that a `g_variants` endpoint delivers a multi-dataset response). AND this would be in an IMO logical conflict with an `{id}` query, which as

[2020-07-15 17:25] jrambla commented on #24
Oh, I understand.
The construct `/biosamples/{datasetId}/{id}/g_variants` is not correct in REST terms.
If you want to retrieve the variants of a biosample in a given dataset, you should do somethinglike that:
`/datasets/{id1}/biosamples/{id2}/g_variants`

The Ids refer to the preceding entity, hence _id1_ is a dataset Id, while _id2_ is a biosample id.

Having said so, the only paths available ar

[2020-07-15 20:40] mbaudis commented on #24
@jrambla Sorry; sure, you’re correct that I didn’t really REST pattern it; point remains, though - without datasetId it is not really clear what response to be expected. And also, for e.g. `/biosamples/{id}/...` you may have ambiguity not only in the response but in the query, too (since local ids are assumed & may clash between datasets). So:
* require to specify a dataset for data delivery respo

[2020-09-08 10:19] #19 closed, assigned to sdelatorrep

[2020-09-08 10:19] #15 closed, assigned to sdelatorrep

[2020-11-20 13:32] Relequestual opened #27 "Should `minimum` be part of `items` for "end" type?"
https://github.com/ga4gh-beacon/specification-v2/blob/de6cbe8b31659fd0800e6191f9c6d50555759bf3/beacon.yaml#L924-L935

The `minimum` keyword relates to numbers and is not applicable to arrays, which is the type defined for `end`.
I assume this is just a typo and it should be indented further to be part of the `items` schema object.

If it's intended that `end` may be an array or a number, then `int

[2020-11-24 16:25] redmitry opened #28 "Beacon Schema version should be defined in the HTTP Header"
Hello,

Currently requested Schema Version is defined in the "meta" block of the request:
[code]
This approach introduces implementation complexities. For instance, decision on parsing and validating must be implemented by the implementation code, instead of a REST framework (i.e. JAX-RS). Support for different formats by the same endpoint is usually implemented via HTTP “Accept” header. For insta

[2020-11-24 16:29] redmitry commented on #26
Note, that there is a standard way to implement it in the HTTP protocol (RFC 7233) which defines partial request/response. Although this method is commonly used by download managers (e.g. response: “ HTTP/1.1 206 Partial Content Content-Range: bytes 0-1023/146515” ), the range may be arbitrary specified for any data. For instance, OpenEBench uses HTTP Range to limit tools collection to be returned

[2020-11-24 16:33] redmitry opened #29 "Beacon API improvement."
In the Beacon 2.0 clients may query different information: Individuals, Biosamples, Genome Variants, etc. Nevertheless, the ‘RequestQuery’ object is the same for all queries, keeping possible queries for all types of requested information. This embraces scenarios where biosamples endpoint provided with genome variant query. It should be more transparent if each endpoint had defined its own request

[2020-11-24 16:56] mbaudis commented on #29
In my understanding these are 2 different issues:

* allowed queries per endpoint => here I think that the endpoint should not influence which queries are allowed; one reason for this is that the problem below is a general one and won't be solved by that...
* disambiguation of query targets for filters etc.; there is a principle problem that e.g. ontologies may have different meaning ("patient whi

[2020-11-24 17:21] redmitry commented on #29
Well, as far as I understand, this is the same issue.

[code]
The 'RequestQuery' is inside the 'Request' object.
"/individuals:" accepts "$ref: '#/components/schemas/Request'", as well as "/biosamples" or "/g_variants"

IMHO it's better to define BiosampleRequest with
    query: $ref: '#/components/schemas/BiosampleFields'
    filters: $ref: '#/components/schemas/Filters'
    customFilters: $ref:

[2020-11-25 17:27] sdelatorrep commented on #29
Hi @redmitry. Currently, all endpoints accept the same set of parameters because you may want to do a query like "give me all the biosamples which have this SNP".
I'm quite sure that in the near future there will be differences in the request parameters for each endpoint, and I agree that your proposal will be the right way to go, but at this moment this is not happening yet.

[2020-11-25 17:38] redmitry commented on #29
Hi @sdelatorrep. I understand that there are many moments to tackle and hope to have a decent final spec.
Currently, for instance "/biosamples/{id}/individuals" endpoint has the same Request object, which may have biosamples id provided in a query and be different to the one in the path.

[2020-11-26 07:54] sdelatorrep commented on #29
In this specific case, either it is an error and the `request` should not contain the `id` field (but note that it should exist in the `receivedRequest` present in the response) or it is intentional. Maybe @jrambla knows.

[2020-11-26 07:57] mbaudis commented on #29
@sdelatorrep @redmitry In my understanding (and implementation) this is just an unmatched condition, like for any endpoint & query resulting in 0 items.

[2020-11-26 11:05] sdelatorrep commented on #29
Good point, @mbaudis! And I guess that the Beacon implementers can also decide to throw an error if they want.

[2020-11-26 11:39] redmitry commented on #29
Yeah, but that means that "/biosamples/{id}/individuals" may be substituted with "/individuals" and proper query.

[2020-11-26 11:45] mbaudis commented on #29
@sdelatorrep I think we use 422 ... @redmitry Yes. (And I have to say - and others disagree - that I still do not see the point for discrete paths but rather would use query + handovers.)

[2020-12-07 16:52] jrambla commented on #29
I'm not getting the issue sorry. I need someone to translate that for me.
So far, I've been looking much more into the coherence of the responses than in the "correct"/"preferred" way to represent that in OpenApi 3.

[2020-12-07 16:59] jrambla commented on #28
IMU, both approaches doesn't need to be alternative, right?
I like the API to be explicit both in requests and in responses. This shouldn't preclude that the (suggested) implementation is purely relaying in such "explicitness", in a similar way that we are doing with user credentials (that are conveyed inside a token).
I see a difference between transversal concerns (AuthN/AuthZ) and core features

[2020-12-07 17:02] mbaudis commented on #29
Yes, but the point is that one has a dedicated path for a biosample (by id) and its associated data; so this seems logical.

However, _at least_ the dataset has to be provided, too; so it should be `/datasets/{ds_id}/biosamples/{bios_id}/...`, IMO.

[2020-12-15 12:49] mbaudis opened #30 "Define filtering_terms endpoint"
While the example implementation presents a `filtering_terms` endpoint <https://beacon-giab-demo.ega-archive.org/api/filtering_terms> there is no specification for this to be found. Also, the format looks wrong:

[code]

* there is a longstanding GA4GH standard (going back to the Vancouver meeting) that
    - ontology terms are defined through `id` and `label`
    - those term ids are CURIES; ther

[2020-12-18 22:41] jrambla commented on #30
+1 on using the GA4GH recommended approach.
I don't see the counts having a place in the current context for filtering terms yet, but seems an interesting idea.

[2020-12-23 10:27] sdelatorrep commented on #27
Fixed. Thanks, @Relequestual!

[2020-12-23 10:27] #27 closed, assigned to sdelatorrep

[2020-12-23 10:32] sdelatorrep commented on #13
Closing as it is duplicated by #30.

[2020-12-23 10:32] #13 closed, assigned to nobody

[2020-12-23 10:42] sdelatorrep commented on #26
I think both approaches are compatible as it's similar to what was discussed in #28. WDYT, @jrambla?

[2020-12-23 10:55] mbaudis commented on #30
Counts are very informative & e.g. used by us then in the front end to calculate statistics over the returned items (Beacon response -> front end fetches biosamples from handover link -> calculates frequencies of observed / filter base count). Also shows counts per filter in the search form etc. So IMO good as optional parameter; but YMMV ...

[2020-12-23 11:30] sdelatorrep commented on #30
What does the `count` count? The number of samples with this term? The number of individuals? If the term applies to both entities, what do we count?

[2020-12-23 12:18] sdelatorrep commented on #26
I've created a [PR](https://github.com/ga4gh-beacon/specification-v2/pull/31) which adds a new field `numTotalResults` (as the page & limit requested by the user are already present in the `meta` section, I don't think we need to repeat this in `response`) and clarifies the usage of `skip` and `limit`.
Let me know what you think @Tom-Shorter in the [PR](https://github.com/ga4gh-beacon/specificatio

[2020-12-23 12:25] redmitry commented on #26
All the idea of HTTP protocol usage is to avoid putting this kind of data in the payload.
This was a reason why SOAP protocol failed - it used SOAP Headers (metadata) where HTTP could be reused.
At least for the SOAP excuse was to make it transport protocol agnostic.

[2020-12-23 12:46] redmitry commented on #28
This is a job of the REST framework to resolve. In java (JAX-RS) one may have several methods sharing the same @Path an with only difference on accept or content-type headers. For instance the same endpoint may serve json, yaml, xml, rdf, etc. providing four different implementations and it's a JAX-RS which choose them on the @Produces annotation.

[2020-12-23 15:39] mbaudis commented on #30
@sdelatorrep Correct question, w/ several answers:

1. In our case we map everything with a count to `biosamples`; additional filters are shown w/o counts
2. We actually provide a separate count value for `code_matches`; i.e. `count` refers to the code + children, `code_matches` to the specific assignments in the proposed filter use á la @tb143 this would be `THIS:code` vs. `THIS:code+` on the sea

[2020-12-30 13:16] mbaudis opened #33 "Proposal: Return REST paths as handover URLs in Beacon responses"
The current specification implements dedicated paths for scoped data retrieval (e.g. `/biosamples/{id}/g_variants` for the variants belonging to a biosample), which can be amended w/ additional query parameters. Additionally, the Beacon can/should provide information about available protocols and paths. However - and especially in a network - the generation of consistent data retrieval queries see

[2021-02-19 10:09] mbaudis opened #34 "Genome Coordinate Use and VRS"
The current use of `referenceBases` and `alternateBases` is partially incorrect when compared to the GA4GH VRS standard. While it is fine for SNVs (i.e. replacement of a single reference base by another base) or compound replacements (e.g. `A > GG`), it is incorrect for simple INDELs, i.e. insertions or deletions of one or more bases w/o change of the surrounding sequence. Here, VRS states (in spi

[2021-02-19 10:11] mbaudis commented on #34
And gladly accept corrections / refinements @ahwagner ...

[2021-03-03 15:28] Tom-Shorter opened #40 "Incorrect URLs in beacon.yaml"
The URLs pointing to the default beacon schemas draft 1 repo release within the beacon.yaml file have a typo in, the URLs have draft-1 in but it should be draft.1 instead.

e.g.

https://raw.githubusercontent.com/ga4gh-beacon/specification-v2-default-schemas/draft-1/default_variant_annotations_schema.yaml#/components/schemas/VariantAnnotations

should be:

https://raw.githubusercontent.com/ga4gh-b

[2021-03-03 15:39] sdelatorrep commented on #40
Yes, I know. I released the first draft of default schemas as `draft-1` when it should have been `draft.1`. I renamed the tag, and later realized this broke the references in this repo. My bad! I'll try to fix it asap.
Thank you for creating this issue, this way I won't forget it :)

[2021-03-09 09:37] mbaudis opened #42 "Variant => GenomicVariant"
The current schema uses `GenomicVariantResponseContent` etc., but then just `Variant`, `VariantAnnotation`, `VariantReponseResults`:

https://github.com/ga4gh-beacon/specification-v2/blob/aa2476cd44377ac7822c55342c14fe42acc72cb3/beacon.yaml#L1964

I would +1 to use `GenomicVariant` etc.  then, consistently. This does not preclude e.g. providing protein information in annotations; but IMO for query

[2021-03-09 10:13] mbaudis opened #43 "Referenced `VariantInSample` leads to error"
The referenced `VariantInSample` leads to a validation error:

https://github.com/ga4gh-beacon/specification-v2/blob/aa2476cd44377ac7822c55342c14fe42acc72cb3/beacon.yaml#L2609

Not checked ... but `VariantInSample` anyway should **NOT** have any clinical, phenotypic ... connotations.

[2021-03-09 16:02] sdelatorrep commented on #43
Fixed in Default Schemas repo ([commit](https://github.com/ga4gh-beacon/specification-v2-default-schemas/commit/afa5095823c513b54359f929d04c1a2b79cbe2ea)).

[2021-03-09 16:02] #43 closed, assigned to nobody

[2021-03-16 15:44] mbaudis commented on #30
I will close this & open as a new issue regarding the response format.

[2021-03-16 15:44] #30 closed, assigned to jrambla

[2021-03-16 15:58] mbaudis opened #44 "Structure of `/filtering_terms` response"
The `/filtering_terms` response is just a simple object with `beaconId`, `apiVersion` and a list of `filteringTerms` objects.

For consistency, it would make sense to provide the `filteringTerms` in the standard `InfoResponse` wrapper, with `meta` and then `response.results` containing the list of `FilteringTerm` objects.

Fast draft example (incomplete ...):

[code]
For reference, current definit

[2021-03-16 17:05] jrambla commented on #44
+1

[2021-03-16 19:59] mbaudis commented on #44
@jrambla only +1, for such a descriptive issue? :-)

[2021-03-18 09:14] mbaudis commented on #44
Progenetix test example, including schema link from [specification-v2-blocks](https://github.com/ga4gh-beacon/specification-v2-blocks):

* <https://progenetix.org/cgi/bycon/bycon/filteringTerms.py>

[2021-03-25 16:03] jrambla commented on #33
As mentioned in direct conversations, this is the goal of [HATEOAS](https://en.wikipedia.org/wiki/HATEOAS).
As much as I'm tempted to explore it the sooner the better, I'm believing that this should be the basis for Beacon v3.0, may be.

[2021-03-25 16:04] #33 closed, assigned to juhtornr, jrambla, antbro

[2021-03-25 16:35] jrambla commented on #29
@sdelatorrep there is a way to use Dmitry's suggestion while keeping the request parameters common (like the filters object)?

[2021-04-07 11:22] mbaudis opened #45 "Term `variantInSample` is confusing, `g_variants` is odd"
The current v2 version contains 2 paths, objects and associated classes for genomic variants:

1. `/g_variants`  with `GenomicVariantResponse` => `VariantReponseResults` => `[variant, variantAnnotations ...]`
2. `/variants_in_sample` with `VariantInSampleResponse` => `VariantInSampleResponseResults` => (some variant schema)

IMO the naming is confusing. Instead of `variants_in_sample` it would be

[2021-04-07 13:19] clauw87 commented on #45
I agree with the dropping g_ .
And with the fact of the second description of VariantInSample being more descriptive.
Also true, the name VariantInstance could be more descriptive than VariantInSample.

[2021-04-07 18:00] jrambla commented on #45
We put the "g_" because we could end up having "protein variants" and then we are in trouble.
I know we are not used to that, because of our bias, do we?

[2021-04-07 18:06] jrambla commented on #45
And, IMHO, "variant_in_sample" seems much more aligned to what clinical bioinformaticians are used to than "variant_instance" that seems to me a "researcher-like term".

[2021-04-07 18:10] clauw87 commented on #45
Jordi, but it is true that, given that the Variant in Sample comes from Analysis indeed, it could be that 1 Sample has many Analyses if it is subjected to two different sequencing technologies and analysis etc and gives different variants, and then, if we are showing them as in the schema, whatever is coming out of an analysis it will be strictly not Variant in Sample but Variant in Analysis, whic

[2021-04-07 18:13] clauw87 commented on #45
The variant instance name, when given a thought, seems right to me,.bc it refers to a Variant found in this and that special circumstances that are recorded there,.individual, sample, run, analysis, etc

[2021-04-07 18:40] mbaudis commented on #45
O.k. - originally posted this just in another thread. cross-posting ...

----

Well, "variant_in_sample" just sounds odd. Either it is jaust a `variant` - but this is being squatted on by `g_variant` ... as not being a specific observation but a kind of "prototypical variant" with **instances** being observed.

Just for you - __I hope this doesn't get public__ - the whole concept of seeing a varia

[2021-04-08 09:23] jrambla commented on #45
Could we keep *this* issue as the discussion for "g_Variant" vs. "Variant" and discuss the "VariantInSample" (and the model) in the other issue?

[2021-04-09 08:54] #44 closed, assigned to sdelatorrep

[2021-04-09 12:31] sdelatorrep commented on #45
Please, let me know what the conclusion is.
This will affect #42: if we finally choose to use `/variant`, then the object named `GenomicVariantResponseContent` (and any other) should be renamed to `VariantResponseContent`.

[2021-04-09 14:04] sdelatorrep commented on #28
@jrambla, @redmitry, I think we can close this issue, can't we?

[2021-04-12 10:52] sdelatorrep commented on #25
I've gone through the OpenAPI docs, and it seems the only way to achieve this is to create different variant requests types and put them inside the `oneOf`.
* These types will inherit from `GenomicVariantFields`, which contains all the fields, but define a different subset of required parameters, and a different description.
[code]
* In the definition of `g_variant` field in `RequestQuery`, we spe

[2021-04-12 12:12] sdelatorrep commented on #34
Hi @mbaudis. The specification part was changed in PR #41, wasn't it? If so, I suggest closing this.

[2021-04-12 12:16] sdelatorrep commented on #24
What is the status of this discussion, @jrambla, @mbaudis?

[2021-04-12 12:27] mbaudis commented on #24
@sdelatorrep @jrambla Well, your design decision if having the dataset in the path or the query. I just see that the specification of an `id` w/o the dataset requires parsing over all datasets. And in scenarios where "another dataset" may mean "another database / file" this may be ... cumbersome.

I understand that this isn't an issue for the base paths w/o `id` where you actually may specify mult

[2021-04-12 12:31] mbaudis commented on #34
Closing since done in https://github.com/ga4gh-beacon/specification-v2/pull/41.

[2021-04-12 12:31] #34 closed, assigned to juhtornr, jrambla, clauw87, babisingh

[2021-04-12 12:33] sdelatorrep opened #51 "Add DUO codes"
They will go along with Consent Codes and ADAM in `dataUseConditions` field  in `BeaconDataset` object.

[2021-04-12 13:44] mbaudis commented on #25
Yes, I think so. Only we will have different types from the ones used in the write-up, namely

* VariantAlleleRequest
* GenomicRangeQuery
  - anything (w/ optional parameters for type, alleles) overlapping `start` <=> `end`
* GenomicBracketQuery
  - anything (w/ optional parameters for type, alleles) with start and end falling into `[start0, start1]` && `[end0, end1]` intervals
* ...

(Names subje

[2021-04-12 13:50] sdelatorrep commented on #25
Yes, I'm also in.
The SV Scout is working on this, right? In defining this list of variant query types, I mean, including examples.

[2021-04-12 14:45] mbaudis commented on #25
@sdelatorrep Yes - @babisingh & @laurenfromont working on getting some clean first version based on our previous decisions.

[2021-04-13 14:49] sdelatorrep opened #52 "Add definition of new filters"
This is managed by a Beacon Scout led by Tim Beck.

[2021-04-16 17:36] jrambla commented on #24
@mbaudis the path `/resource/{id}` is a URI, therefore, the backend must ensure that collissions doesn't happen.
If there is a chance of collision, there are two solutions:

1. To create a unique id for every resource. It could be what we call an "intelligent id" that could be parsed, like `dataset1-resource1`. This is not recommended in most scenarios, but I believe the one you describe shouldn't

[2021-04-16 17:37] #24 closed, assigned to jrambla, sdelatorrep, KyleGao

[2021-04-16 18:13] jrambla commented on #25
I'm not solid that we must add the aliases to the regular specification. That was not in my mind when the alias were suggested.
I believe that having a parallel spec that is a "façade" over the basic specification would be much more flexible and much clearer to the implementers.

[2021-04-19 06:11] sdelatorrep opened #54 "Convert these properties to lowercase"
Use lowercase in the properties of [InfoRequestedSchemas](
https://github.com/ga4gh-beacon/specification-v2/blob/a9fb4c9e293de2d9ea3fc65831d0e8d0c92bdfa6/beacon.yaml#L1886) and [RequestedSchemas](https://github.com/ga4gh-beacon/specification-v2/blob/a9fb4c9e293de2d9ea3fc65831d0e8d0c92bdfa6/beacon.yaml#L1898).

[2021-04-19 06:11] #51 closed, assigned to sdelatorrep

[2021-04-20 15:36] redmitry opened #56 "AlternativeSchema and oneOf issue"
Hello,
There is a logical issue with an AlternativeSchema object.
Currently we have something like:
[code]
Note that while the schema itself is valid, something like:
[code]
will fail to validate, because it validates with both schemas and **oneOf** must validate only against exactly one only.
The solution would be:
1. make "variantId" identifier **required**
2. add some **required** property into

[2021-04-21 12:17] sdelatorrep commented on #56
Hi @redmitry. What if we use `anyOf` instead of `oneOf` and we explain in the description that you **must** only use one of these? We've already faced some other limitations of OpenAPI that we need to clarify in the description.
From the OpenAPI documentation:

    oneOf – validates the value against exactly one of the subschemas
    allOf – validates the value against all the subschemas
    anyOf

[2021-04-21 12:35] redmitry commented on #56
Hi @sdelatorrep. "anyOf" would use only one of two anyway. The only difference is that it can validate with both at the same time. In the structural description this makes little sense: anyOf (any (object) or something (VariantIdentification).
Note that without any "required" property **any** Json Object is also valid VariantIdentification.
For all such cases I would put the "id" fields required a

[2021-04-21 14:16] sdelatorrep commented on #56
But this way you will be requiring all alternative schemas to have an `id`, which I'd say it's something we can't do (e.g. current Phenopacket's and Variant Representation schemas for Variant Identification won't validate because none of them have an `id` field).

[2021-04-21 14:21] redmitry commented on #56
No. the requirement for the id is for the provided schemas.
Without "required" properties in the VariantIdentification, any JsonObject fulfil the schema.
this way we do not need a choice at all... The question is what we want do say with the choice.

[2021-04-21 14:48] sdelatorrep commented on #56
Can you create a PR with your proposal? Because I think I'm not understanding it :)

[2021-04-21 16:01] redmitry commented on #56
There are two parts:
https://github.com/ga4gh-beacon/specification-v2/pull/57
https://github.com/ga4gh-beacon/specification-v2-default-schemas/pull/27

the second pull is just a suggestion as we need a way to distinguish between an arbitrary and default schemas...

[2021-04-22 14:58] mbaudis opened #58 "Response type and paths"
While the response types are documented in the individual path's descriptions

* e.g. https://github.com/ga4gh-beacon/specification-v2/blob/develop/beacon.yaml#L165

... they should (IMO) be specified directly in the `paths` schemas? I.e. a service should be able to map a response directly from the path. There is a `schema` parameter, but AFAIK this is not the same as spec'ing the response itself

[2021-04-26 09:19] #56 closed, assigned to nobody

[2021-04-27 08:00] gemaroldan opened #59 "HGVS relationship between the transcript and the associated amino acid."
The current "2.0.0-draft.3" version, in the /g_variants service, when implementing VariantAnnotation, using the following scheme "https://raw.githubusercontent.com/ga4gh-beacon/specification-v2-default-schemas/draft.3/default_variant_annotations_schema.yaml#/components/schemas/VariantAnnotation", in the properties related to transcripts: HGVS is listed, but I do not see the relationship between th

[2021-05-05 15:54] redmitry opened #61 "Beacon API info objects debris"
Hello,

We have several "info" endpoints:
[code]
In my understanding `/service-info` endpoint is to support _GA4GH service-info_ spec. So far so good.
`/` is the `/info` endpoint to return Beacon info by default (aka homepage).
In the `/info` there are two query parameters - "**model**" it says in this case it is the same as `/service-info` and "**requestedSchema**" - beacon-type info.
What is the

[2021-05-05 17:12] mbaudis commented on #61
+1 for putting this on the radar - too much "we do legacy, too" here. No constructive comments but a correction:

... actually not. Would IMO be a good opportunity to define `/` as the non-machine, human readable (aka homepage) target & therefore leading to fewer errors; but so far this hasn't been the case with previous incantations (sic) using it for the API info and the UI having a separate URL

[2021-05-05 19:52] jrambla commented on #61
@sdelatorrep I'm not able to answer the "oneOf" question. Do you have that fresh in your mind?

[2021-05-05 20:05] jrambla commented on #61
For "/info" pletora of options:

1. for the "/info" vs "/":  I was always in favor of explicit endpoints, hence info was my preference. But given that "/" should also return something, "Beacon info" was the obvious option. It has been argued that if "/" is there, then "/info" is not required. But that is inverting the reasoning and then we lose the "explicit" endpoint. Thus, I've suggested to keep

[2021-05-05 20:16] mbaudis commented on #61
@jrambla So how about `/` being the UI? `info` already there, nnd UI is what users go to. It is a bit of a pain not to have Beacon (sub)domain providing the UI itself.

And otherwise I would suggest a hard-coded `/ui` instead of relegating this to the (service-)info.

[2021-05-05 20:26] jrambla commented on #61
Sorry, I'm always struggling with these issues that address different aspects.
IMHO, we shouldn't mix API endpoints with UI endpoints.
I suggest using "https://onebeacon.org/" to host the UI and "https://onebeacon.org/api" (e.g,) to host the API, therefore you are free to add any stuff as pages in the UI and keep the API endpoints also free.
Makes sense?

[2021-05-06 05:20] mbaudis commented on #61
@jrambla Fine with that; actually ~ what we've switched to (though `/beacon` ATM). Still, `/info` == `/` is confusing. Why not ditch `/info`? And keep `/service-info` as the specific GA4GH one.

[2021-05-06 09:59] Tom-Shorter commented on #61
This is one of the topics I have wanted to raise in the API scout group, and very briefly mentioned in the first one.

I would be in favour of removing the /info and /service-info endpoints completely and just using / as the info end point but I do understand that this is something that can't happen as /service-info is a GA4GH standard and / is not an explicit endpoint

I would instead suggest tha

[2021-05-07 07:35] sdelatorrep opened #62 "Relax required fields in the response"
A Beacon can return any of these combinations of fields:
- exists
- exists + numTotalResults
- exists + numTotalResults + results

[2021-05-07 08:05] mbaudis opened #63 "Redefine inconsistent use of dataset specific responses"
The `includeDatasetResponses` parameter - picked up from the v1 schema - allows o specify if dataset specific responses should be provided:

* <https://github.com/ga4gh-beacon/specification-v2/blob/a9fb4c9e293de2d9ea3fc65831d0e8d0c92bdfa6/beacon.yaml#L1869>

However, only for variants dataset specific responses exists (`BeaconDatasetAlleleResponse`) but this isn't a consistent feature of the other

[2021-05-07 08:36] Tom-Shorter commented on #63
I agree with dataset specific objects idea.

Not only does this idea help to resolve the above but it can also help with AAI and pagination. This is an area I had planned to discuss in the next meeting (please remind me!) so I'll save writing any lengthy comments here until after the meeting.

[2021-05-07 11:34] mbaudis commented on #63
The whole concept of "datasets" as a special grouping item is tricky. We have now a large interest in e.g. cohorts, which may span datasets. The datasets concept itself derives a lot from the "single VCF/collection with pre-computed frequencies" etc. which is extremely limiting.

So:
* there should not be a separate format for `datasetAlleleResponses`
* there should be a general wrapper format for

[2021-05-07 12:19] Tom-Shorter opened #67 "/biosamples response is missing a datasetID field"
There is currently no way to identify which dataset an individual biosample came from, `/individuals` and `/g_variants` both have a datasetID field within the response object for individual results so it seems an oversight that it is missing from `/biosamples`.

[2021-05-07 12:31] mbaudis commented on #67
That is probably just an oversight, but in the end related to https://github.com/ga4gh-beacon/specification-v2/issues/63. So one would wrap `datasetAlleleResponses` for different datasets, but for the biosamples or individuals then indicate their datasetId per item? Then we need this for the `VariantInSample`  and any other object which can end up in `response.results`, too.

Or responses are alwa

[2021-05-07 12:38] mbaudis commented on #67
... also, to have a `datasetId` in a given `biosample`, `individual`, `variantInSample` response is ugly; it is __NOT__ part of the native object schema and has to be overloaded for the response. So if a `/biosamples` response contains data from multiple datasets those should be wrapped in dataset specific objects.

[2021-05-07 12:46] Tom-Shorter commented on #26
The implementation of pagination is actually trickier than first imagined, for a single dataset pagination is straight forward but becomes more complex when additional datasets are added.

This is a problem for implementation and not with the specification itself but the implementation problems could be easily overlooked therefore I feel that the specs should highlight the possible problems outlin

[2021-05-07 12:51] mbaudis commented on #26
Conclusion sounds good. And I like `resultSet` as "neutral" wrapper! See https://github.com/ga4gh-beacon/specification-v2/issues/63 and https://github.com/ga4gh-beacon/specification-v2/issues/67.

[2021-05-07 12:53] mbaudis commented on #26
@Tom-Shorter Do you want to formulate this as an issue - responses delivering `resultSets`, IMO by default?

[2021-05-07 12:55] Tom-Shorter commented on #26
@mbaudis I'll be happy to, I've been discussing this idea with Tim Beck, Colin Veal and a few other people in our group and I believe that the `resultset` response can solve many problems I have with the current Beacon specification.

[2021-05-07 13:10] mbaudis commented on #26
As in the linked discussions: IMO it would be good to have _always_ one or more `resultSet` objects in the response. So basically one would introduce another layer instead of now

* results => array of responseResults (e.g. `VariantInSampleResponseResults`)

it becomes

* results => array of `resultSet` objects (with info about the resultSet, e.g. dataset...) => array of responseResults (e.g. `Var

[2021-05-07 13:11] mbaudis commented on #26
One could have this as optional, but IMO this would be confusing.

[2021-05-07 14:08] Tom-Shorter opened #68 "resultSet wrapper object for all responses"
There are a few problems with the current implementation of results, for `g_variants` there is a problem with pagination #26, for `biosamples` there is a problem with aggregation/dataset identification #67. There are a few other problems but instead of going over them in detail I would like to propose a new `resultSet` wrapper class and all `response.results` are always a list of `resultSet` objec

[2021-05-07 14:20] Tom-Shorter opened #69 "dynamic response endpoint"
Currently there are 32 endpoints for beacon, this seems like a large number when the query body for most of these endpoints is identical.

I propose that instead of querying a certain endpoint to receive certain responses you can instead include a "responseFormat" parameter with the request body and query a generic endpoint, such as /query. The response format can be simple, such as "variants" or

[2021-05-07 14:40] mbaudis commented on #69
Just FYI, we follow this concept in having both `responseFormat` and `responseType` as optional parameters, e.g. to shape non-standard responses.

However, for the use case above we just have handovers. E.g. each variant query has a set of handovers, for retrieving all biosamples, individuals ... etc.

We had previous discussions (esp. w/ @jrambla ) in which I've argued some of your points but wit

[2021-05-07 15:23] jrambla commented on #62
Could [Model Composition](https://swagger.io/docs/specification/data-models/inheritance-and-polymorphism/) maybe used for that?

[2021-05-07 15:27] jrambla commented on #12
The definition would probably had to include references to the definition of the schema or something alike

[2021-05-07 15:29] jrambla commented on #14
We need to figure out a mechanism that includes the alternative schemas.

[2021-05-08 16:25] jrambla commented on #67
The rationale behind the model is: "we have two types of Beacons: evidence/knowledgeBase and Case/individuals".
The first one is represented by Dataset>Variant, the second one by Dataset>Individual (extended later with Cohort>Individual.
That is the reason that no other entity is having a DatasetId on it.
Michael's case is where the Beacon is made by samples from cell cultures (let's say) and it d

[2021-05-09 07:14] mbaudis commented on #67
@jrambla That's not what is meant here? This was about identification of a `biosample` <-> `dataset` relation.

In any case, it gets a bit confusing; but IMO this should be resolved through #68 (which I see as the most logical solution, until @jrambla tells me why this wouldn't work ...).

[2021-05-10 08:35] #28 closed, assigned to nobody

[2021-05-10 08:38] jrambla commented on #28
In the future, we need a better discussion on how much the tooling/frameworks should be leveraged *against* the verbosity of the API. Or how much the API should be linked to an specific protocol (e.g. HTTP) or be more agnostic to it. Etc.
I believe that is not for version 2 but for a future one.
GA4GH TASC future guidelines would also contribute to the discussion.

[2021-05-10 10:50] sdelatorrep commented on #61
@jrambla , `model` parameter was requested to be added, so it was compatible with the Beacon Network spec (its `/info` endpoint defines this parameter).

[2021-05-10 13:53] tb143 commented on #52
@Tom-Shorter has been working on formalising the filters schema and will include it here when complete.

[2021-05-10 14:23] Tom-Shorter commented on #52
[Here's a link in swaggerhub](https://app.swaggerhub.com/apis/Work_Stuff/ga-4_gh_beacon_api_specification/2.0.0-draft.3.Filters) to a slimmed down beacon draft 3 spec which describes the following 3 endpoints:
- /filtering_terms
- /datasets/{id}/filtering_terms
- /g_variants.

We have decided to exclude endpoints unrelated to the filter scout groups focus and left in g_variants as the sole example

[2021-05-10 18:37] tb143 commented on #52
The three categories of filters:

`ontologyFilter`s are terms from an ontology contained in a public repository such as the EBI’s OLS or NCBO’s BioPortal.

`alphanumericFilter`s define rules of selection between field name and field value pairs.

`customFilter`s are locally defined by a Beacon (e.g. not corresponding to known ontology terms).

There are two information endpoints relating to filter

[2021-05-11 10:39] mbaudis commented on #52
@tb143 , all: Looks good, with 2 comments:
* it is common to have `ontologyClass` as objects with `id` (required) _and_ `label` (optional); we had settled this through the Metadata Task Team in 2016 :-)   (see also [Phenopackets](https://phenopackets-schema.readthedocs.io/en/latest/ontologyclass.html#rstontologyclass))
* this & your use of the "Phenopackets resource object" are perfect examples wh

[2021-05-11 13:38] jlfrueda opened #70 "Replace offset-based pagination by a cursor-based approach"
While implementing the beacon we have meet several problems regarding pagination, and we believe the current approach can be improved with just a few trivial changes.

Some of our systems organize the data in a way that is not well suited to offset-based paging, for performance reasons. Even not considering this, there are not always a direct mapping between our backend entities and those of the b

[2021-05-11 14:01] jlfrueda opened #71 "A shared conformance test would be useful"
After our work implementing the beacon API on top of two of our systems, we believe a shared conformance/compliance test contributed by all parties that can be used to check an implementation could be extremely useful to promote the adoption of the beacon.

[2021-05-12 07:47] Tom-Shorter commented on #70
I fully support this approach to pagination, as per my pagination issue #26, I envisioned a similar problem for beacons which contained more than one dataset. In short how do you know which dataset the results from page X come from without having to query every dataset sequentially?

If I was to implement this approach my `nextPage` token would look something like `datasetID-uniqueIndex`. I think

[2021-05-12 20:49] jrambla commented on #68
@Tom-Shorter @mbaudis @sdelatorrep as mentioned in the mail thread, I would like to see an example of the above suggestion.
The legacy `DatasetAlleleResponse` model is no longer applicable since we have `cohorts` as another collection type, therefore my assumption that applying the `DatasetAlleleResponse` could solve the need was incorrect/incomplete.
Having said so,  the issue #62 should be combi

[2021-05-12 20:59] mbaudis commented on #68
@Tom-Shorter

I understand this - we're doing something similar for cases where the objects are in a defined scope (e.g. retrieving dataset statistics, where the identifier then is the `dataset_id`). However, this may be problematic if having a response with a list/set ... where the scope of the identifier isnt't clear (dataset, cohort ...).

[2021-05-12 21:08] jrambla commented on #26
Just as a placeholder.
NOTE: review the GA4GH TASC discussion on pagination [here](https://github.com/ga4gh/TASC/issues/29).

[2021-05-13 15:32] colinveal commented on #68
@jrambla @mbaudis @Tom-Shorter @sdelatorrep So for us something like below would be ok to give us the splits of information per dataset whilst retaining a single section for results, however I'm still not sure whether dividing results into resultSets would better, what do you think @Tom-Shorter ?
[code]

[2021-05-13 15:51] mbaudis commented on #68
Yes, this is one of the options which IMO work; having the per-`resultSet` aggregation data separate.

**Notes**:

* It shouldn't be `datasets` then, but `resultSets`
* I wouldn't use the current structure (I know this is just a doodle, but FYI) but keep it more like:

[code]

Still, the tagging of the individual response elements for their parent `resultSet` remains ...

[2021-05-14 07:38] Tom-Shorter commented on #68
I was going to say that this depends entirely on how the unique ID for a result is created but if the unique ID is created from a concatenation of a dataset ID and the result ID then if querying a cohort endpoint the unique ID would then not suffice as it would not contain the cohort ID so tagging would still be needed.

I think many users wont use beacon as a way of obtaining data, at least not t

[2021-05-14 07:43] mbaudis commented on #68
Ahem:

This case should not be supported.

[2021-05-14 07:54] Tom-Shorter commented on #68
I agree, it shouldn't be supported in an ideal world but the beacon owner might not have control over the data in the beacon so they can't standardise it. Does the beacon owner then return all results using the same 0 or 1 base (I forget which is the beacon standard) knowing that the positions provided for variants would be misleading if the user was to use the data sources own query interface or

[2021-05-14 08:37] colinveal commented on #68
So in summary for me any of these three would be fine, with a preference for the latter two:
[code]

[code]

[code]

[2021-05-14 08:40] mbaudis commented on #68
@colinveal @Tom-Shorter @jrambla Can live with any of those, too, with `1 ~ 2 > 3`, after some thinking :-)

[2021-05-14 08:42] Tom-Shorter commented on #68
^ ditto

[2021-05-14 10:49] jrambla commented on #68
Lovely discussion!
Let’s refine it, or not ;-) , in the meeting.

Jordi

From: Tom Shorter ***@***.***
Sent: viernes, 14 de mayo de 2021 10:43
To: ga4gh-beacon/specification-v2 ***@***.***>
Cc: Jordi Rambla ***@***.***>; Mention ***@***.***>
Subject: Re: [ga4gh-beacon/specification-v2] resultSet wrapper object for all responses (#68)

^ ditto

—
You are receiving this because you were mentioned.
R

[2021-05-16 05:30] jrambla commented on #23
I'm still hesitating, the impact in performance seems quite significative and the return seems not broadly applicable.
To me the question is still open: How many Beacon are having nucleotide codes outside ACTGN?
@antbro any opinion here?

[2021-05-16 10:25] antbro commented on #23
I don't think many Beacons will use codes outside ACTGN

But if this is just about how queries are stated, then performance could be improved by first checking whether the query includes other base codes, and on the rare occasions that it does then duplicate the query once for each two-allele code OR only use IUPAC methods when needed.

Its a bit of a hack, but practical.

The alternative of not a

[2021-05-17 09:19] sdelatorrep commented on #68
Hi @Tom-Shorter! Could you create a PR introducing this change? Many thanks!

[2021-05-17 09:23] Tom-Shorter commented on #68
hi @sdelatorrep, I made a pull request last week : #72 I probably haven't done everything correctly if you haven't been notified of it though so let me know.

[2021-05-17 10:11] sdelatorrep commented on #68
Ah, sorry, I didn't see it. I'll review it asap. Thanks!

[2021-05-17 10:18] sdelatorrep commented on #68
But @Tom-Shorter , this PR is only about filters, isn't it? I don't see anything about `resultSet` in it.

[2021-05-17 10:47] Tom-Shorter commented on #68
Oh sorry @sdelatorrep , I'm an idiot.I saw pull request and immediately thought of the filters scout group pull request I made.

In the beacon call it was agreed that it would be best for someone from your group to add the resultsets in to the spec, I'm familiar with the g_variants endpoint responses but I haven't had to implement the other endpoints yet so I thought it best that someone who was f

[2021-05-17 16:10] jrambla commented on #23
@sdelatorrep or @MrRobb could you do a PR on this?

[2021-05-17 16:31] antbro commented on #23
Could the query state if it uses any IUPAC code other than TCGAN
And services optionally not respond to those that do?
Tony

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jordi Rambla ***@***.***>
Sent: Monday, May 17, 2021 5:10:52 PM
To: ga4gh-beacon/specification-v2 ***@***.***>
Cc: Brookes, Anthony J. (Prof.) ***@***.***>; Mention ***@***.***>
Subject: Re: [g

[2021-05-19 08:59] jrambla commented on #4
The current OpenAPI tooling doesn't seem to help in navigating among different referenced files. Therefore it doesn't seem a big advantatge to me navigating through a looong file vs. navigating a lot of files.
Any consideration this aspects?

[2021-05-19 09:08] mbaudis commented on #4
@jrambla Well I'm not particular to use the OpenAPI tooling :-)

But i think a good compromise is to have the single master file and then for readability & website the [extracted components](https://beacon-project.io/tags/schemas.html). Not sure if we should do this for the paths, too.

However - can't the spec been split between the paths & components, at least?

[2021-05-19 10:51] jrambla commented on #4
Well, I've said OpenAPI, but I was meaning any tool able to work with that format, YAML or JSON and traverse the references...
We separated the default schemas from the main spec, but not all the components. There are still many ;-)
If the actual suggestion is to have a supporting documentation in a website, then that is OK.
If the suggestion is to further split btw paths and components in externa

[2021-05-19 10:55] mbaudis commented on #4
The traversal of external links is standard - i.e. I get errors processing `beacon.yaml` if the references to, or inside, the default schemas don't resolve.

[2021-05-19 11:00] mbaudis commented on #4
... but I still don't understand why the components are not in an external file. Same handling, with the exception of disentangling the schemas (=components) from the paths.

I would actually organise all components and schemas in a single repository and have the paths by themselves. And the `beacon.yaml` only for the paths.

[2021-05-19 12:58] sdelatorrep commented on #58
I'm sorry @mbaudis, but I don't get what you are proposing. Could you write an example, please? Thanks!

[2021-05-19 13:39] sdelatorrep commented on #68
AFAIK, the winner was option 2 (see all [here](https://github.com/ga4gh-beacon/specification-v2/issues/68#issuecomment-841102402)):
[code]
I'll add this to the spec.

[2021-05-19 13:59] mbaudis commented on #58
@sdelatorrep When a server interprets the REST path it cannot know from the schema which response it should provide.

That e.g. the response should be an `IndividualResponse` is usually annotated in the description, but not formalized.

[code]

[2021-05-19 14:09] mbaudis commented on #58
@sdelatorrep So IMO there should be a specification in the path schemas for `responseSchema: "IndividualResponse"` or similar. Or do I miss another way this is being specified? It is not clear that `/individuals` leads to `IndividualResponse`.

[2021-05-19 14:58] jrambla commented on #4
Let's finish the spec changes for resulset,etc. and then we will review the separation again.

[2021-05-20 09:22] sdelatorrep commented on #58
OK, then we shouldn't have accepted PR #46 as it was. It is possible to do what you say by creating as many `Success`, `BadRequest`, `Unauthorized` and `Forbidden` response types, as entities we have: `VariantScucess`, `VariantBadRequest`, `VariantUnauthorized`, `VariantForbidden`, etc.
I thought doing this would be too verbose and would make it harder to maintain, but you are totally right that y

[2021-05-20 09:27] mbaudis commented on #58
@sdelatorrep I wouldn't restrict to OpenAPI as the envelope, then. One could add a custom parameter? Is a step up from just having it in the text ... Right now one has to hand-craft this :-(

[2021-05-21 06:42] sdelatorrep commented on #68
Hi @Tom-Shorter! I've just created the PR implementing this. Would you mind taking a look at it? I couldn't add you as a reviewer, but I've sent you an invitation to the repo, if you want to join :) Thanks!

[2021-05-21 07:01] mbaudis commented on #68
@Tom-Shorter @sdelatorrep I've just approved, but with [a comment](https://github.com/ga4gh-beacon/specification-v2/pull/73#pullrequestreview-665145410), especially regarding additional parameters for `ResultSet` (counts!):

[2021-05-21 09:52] sdelatorrep commented on #67
Hi @Tom-Shorter. I think this is solved with the resultSet wrapper, right? If not, please, reopen this issue. Thanks!

[2021-05-21 09:52] #67 closed, assigned to jrambla, sdelatorrep

[2021-05-21 10:58] #54 closed, assigned to sdelatorrep

[2021-05-26 07:38] jimmyhli opened #76 "Support referenceName in chr_ pattern?"
Support referenceName in chr_ pattern?

It looks like some pipelines are outputting VCFs with referenceNames in a chr_ pattern, e.g., chr1 instead of 1, would the schema take this into account?

[2021-05-26 07:50] mbaudis commented on #76
@haoyuanli This is no issue for the specification itself which is agnostic of whatever format is used to store the data, but can rather be an issue for implementations. Beacon is _not_ a protocol to query VCFs, but (reference) implementations may support VCFs and then consider this.

We will provide more documentation for queries & there will be some query testing/debugging tools; but I'm for one

[2021-05-26 07:55] jimmyhli commented on #76
Thanks for the quick reply. Our API definition file though, has defined that referenceName to be one of ["1", "2", ....], And implementation that strictly follows the API spec would reject "chr1" as invalid. Are you suggesting that implementation could choose to accept "chr1" if they wish? Thanks

[2021-06-01 14:45] redmitry opened #77 "[typo] IndividualResponseContent.results[] : IndividualResponseResults"
Hello,

The "**results**" property in the '**IndividualResponseContent**' is an array of '**IndividualResponseResults**' objects.
The '**IndividualResponseResults**' object is singular (defaults to '**Individual**') and shouldn't be named plural.
Suggest: '**IndividualResponseResults**' -> '**IndividualResponseResult**'

Cheers,

Dmitry

[2021-06-07 11:37] mbaudis opened #78 "HandoverType should be an instance of OntologyTerm"
`HandoverType` is [specified as a separate component](https://github.com/ga4gh-beacon/specification-v2/blob/51f3e1d5aad5d1a160446ce6bb0f2c6a429ba7e1/beacon.yaml#L2638). However, structurally it represents just an [instance of an `OntologyTerm`](https://github.com/ga4gh-beacon/specification-v2/blob/51f3e1d5aad5d1a160446ce6bb0f2c6a429ba7e1/beacon.yaml#L2695).

This - and other similar cases in the s

[2021-06-08 06:22] redmitry opened #79 "Id property names inconsistency"
Hello,

There is an inconsistency in some ids properties:
pedigreeID, exposureID but,
phenotypeId, treatmentId, etc.

IMHO should be 'pedigreeId' and 'exposureId'.

Cheers,

Dmitry

[2021-06-08 07:29] redmitry opened #80 "Cohort.cohortLicense : [string] name, probably, should be plural"
Hello,

Cohort.cohortLicense property is an array of licenses. Should be probably named 'cohortLicenses'

Dmitry

[2021-06-08 09:12] sdelatorrep commented on #79
Hi @redmitry, the right repository for this issue is https://github.com/ga4gh-beacon/specification-v2-default-schemas, not here :)

[2021-06-08 09:12] sdelatorrep commented on #80
Hi @redmitry, the right repository for this issue is https://github.com/ga4gh-beacon/specification-v2-default-schemas, not here :)

[2021-06-08 09:18] redmitry commented on #79
oops. sorry

[2021-06-08 09:18] #79 closed, assigned to nobody

[2021-06-08 09:19] #80 closed, assigned to nobody

[2021-06-30 21:11] #4 closed, assigned to sdelatorrep

[2021-06-30 21:11] jrambla commented on #4
Solved in the Framework+Model approach and repos

[2021-06-30 21:12] #12 closed, assigned to nobody

[2021-06-30 21:13] jrambla commented on #12
Solved in the Beacon v2 Framework + Model repos

[2021-06-30 22:11] #14 closed, assigned to nobody

[2021-06-30 22:11] jrambla commented on #14
Referenced in https://github.com/ga4gh-beacon/beacon-framework-v2/issues/5

[2021-06-30 22:13] jrambla commented on #16
Solved in the Framework+Model approach and repos

[2021-06-30 22:13] #16 closed, assigned to sdelatorrep

[2021-07-01 07:48] jrambla commented on #22
We plan to engage in this discussion and take a decission in draft4

[2021-07-01 07:48] #22 closed, assigned to nobody

[2021-07-01 07:49] jrambla commented on #23
In draft4, we need to find an elegant solution for this issue.

[2021-07-01 07:49] #23 closed, assigned to nobody

[2021-07-01 07:52] jrambla commented on #25
We can explore how easy is to add aliases in the new Framework + Model approach in draft4.

[2021-07-01 07:52] #25 closed, assigned to mbaudis, jrambla, sdelatorrep, laurenfromont, babisingh

[2021-07-01 13:19] #26 closed, assigned to sdelatorrep

[2021-07-01 13:20] jrambla commented on #26
Moved to Beacon Framework https://github.com/ga4gh-beacon/beacon-framework-v2/issues/9

[2021-07-01 13:29] #29 closed, assigned to nobody

[2021-07-01 13:31] jrambla commented on #29
In my understanding we are addressing this in the Beacon Framework & Model. Further discussions should happen there.

[2021-07-01 16:28] jrambla commented on #42
If still valid, this discussion should move into Beacon v2 Model repo

[2021-07-01 16:28] #42 closed, assigned to sdelatorrep

[2021-07-01 16:33] jrambla commented on #45
We would revisit that, if necessary, after the changes we plan to introduce in the Beacon v2 Model draft4.

[2021-07-01 16:33] #45 closed, assigned to jrambla, clauw87

[2021-07-01 16:34] jrambla commented on #52
IMU, this is solved. Reopen otherwise.

[2021-07-01 16:34] #52 closed, assigned to tb143

[2021-07-01 16:37] jrambla commented on #58
This has been addressed in the Beacon Framework and Model approach.

[2021-07-01 16:37] #58 closed, assigned to nobody

[2021-07-01 16:40] jrambla commented on #59
Moved/referenced to the Beacon v2 Models repo issue#2 https://github.com/ga4gh-beacon/beacon-v2-Models/issues/2

[2021-07-01 16:40] #59 closed, assigned to jrambla, gemaroldan, clauw87

[2021-07-01 16:57] jrambla commented on #61
Open parts of the discussion are brought into https://github.com/ga4gh-beacon/beacon-framework-v2/issues/10

[2021-07-01 16:57] #61 closed, assigned to nobody

[2021-07-01 18:19] #62 closed, assigned to nobody

[2021-07-01 18:20] jrambla commented on #63
This has been addressed in the Beacon v2 Model.

[2021-07-01 18:20] #63 closed, assigned to nobody

[2021-07-01 18:21] jrambla commented on #68
This is solved.

[2021-07-01 18:21] #68 closed, assigned to nobody

[2021-07-01 18:22] jrambla commented on #71
Addressed in draft4

[2021-07-01 18:22] #71 closed, assigned to nobody

[2021-07-01 18:29] jrambla commented on #69
The current plan is to bring Beacon v2 as more directed queries and responses and get feedback from a broad of adopters (or non-adopters if the model doesn't fit their needs) and evolve it to a more open approach if that is what is requested by a majority.
The expectation of 'easy to use' and 'easy to implement' became quite restrictive if non-experienced implementers should be taken into account.

[2021-07-01 18:29] #69 closed, assigned to nobody

[2021-07-01 18:34] #3 closed, assigned to nobody

[2021-07-01 18:42] jrambla commented on #70
Moved to Beacon framework v2 (https://github.com/ga4gh-beacon/beacon-framework-v2/issues/9)

[2021-07-01 18:42] #70 closed, assigned to nobody

[2021-07-01 18:44] jrambla commented on #77
Should be addressed in the Beacon Framework + Model in draft4, but please double check.

[2021-07-01 18:44] #77 closed, assigned to nobody

[2021-07-01 18:45] jrambla commented on #78
This was separated as we expect to eventually define other types that are not ontology base, e.g. a DRS or an htsget handover type.

[2021-07-01 18:45] #78 closed, assigned to nobody

[2021-07-01 18:48] jrambla commented on #76
The use of human readable reference names vs reference sequence names (like NCxxxxx.1) would be debated in the Beacon v2 Model draft4. I'm closing this issue in the hope that the discussion there would solve the doubts/suggestions expressed here.

[2021-07-01 18:48] #76 closed, assigned to nobody

[2021-07-02 06:24] sdelatorrep commented on #40
This can be closed, as I recovered the original release (named `draft-1`) long time ago in order to not break this.

[2021-07-02 06:24] #40 closed, assigned to sdelatorrep

[2021-07-09 09:32] clauw87 commented on #59
If I understand right, this is about keeping the correspondence between transcriptHGVSId - proteinHGVSIds -molecularConsequence -  aminoacidChange instead of just listing them in the corresponding order, leaving possibly a NA in place when not applicable (?). If so, this then maybe could be solved then with a list of objects instead of lists of each variable separately, where each element of the l

[2021-10-18 18:45] jrambla commented on #59
@gemaroldan could you look at the issue in https://github.com/ga4gh-beacon/beacon-v2-Models/issues/2 ?